/* Reset podstawowy */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styl całej strony */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

/* Nagłówek */
h1 {
    color: white;
    font-size: 4rem;
    letter-spacing: 2px;

    padding: 20px 40px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.25);

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
